@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Bryndan Write';
    src: url('/fonts/BryndanWriteBook-nGPM.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  